<mat-grid-list cols="2" rowHeight="1:2">
  <mat-grid-tile>
    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let item of listOfProducts$ | async">{{item.id}} {{item.title}}
        <button (click)="selectProduct(item.id)">Select</button>
      </mat-list-item>
    </mat-list>
  </mat-grid-tile>
  <mat-grid-tile>
    <ng-container *ngIf="productDetails$ | async as item">{{ item.title }}
      <br>
      {{item.price}} $
    </ng-container>
  </mat-grid-tile>
</mat-grid-list>
